# Project exclude paths
/Homework1/venv/
/.idea/
/Homework1/src/flakon/flakon.egg-info/
/Lesson3/skeleton/.idea/
/Lesson3/skeleton/venv/
/Lesson3/skeleton/venv/src/flakon/flakon.egg-info/
/Lesson3/skeleton/venv/src/flakon/flakon.egg-info/
/Lesson3/skeleton/.coveragerc
/Lesson3/skeleton/.gitignore
/Lesson3/skeleton/venv/src/flakon/flakon.egg-info/
/Homework1/.~lock.russo_simone_hw1_report.odt#
/Lesson3/skeleton/venv/src/flakon/flakon.egg-info/
/venv/
/.coverage
/Lesson4/tests/.coverage
/Lesson4/.coverage
/Lesson3/skeleton/myservicee.egg-info/
/Lesson3/skeleton/flask_profiler.sql
/flask_profiler.sql
/Lesson3/.coverage
/Lesson3/flask_profiler.sql
/Homework1/.coverage
/Homework1/flask_profiler.sql
/Homework1/myservice.egg-info/
/Homework1/hw1service/flask_profiler.sql
/Homework1/.tox/
/Homework1/.tox/docs/src/flakon/flakon.egg-info/
/Homework1/.tox/docs/src/flakon/flakon.egg-info/dependency_links.txt
/Homework1/.tox/docs/src/flakon/flakon.egg-info/not-zip-safe
/Homework1/.tox/docs/src/flakon/flakon.egg-info/PKG-INFO
/Homework1/.tox/docs/src/flakon/flakon.egg-info/requires.txt
/Homework1/.tox/docs/src/flakon/flakon.egg-info/SOURCES.txt
/Homework1/.tox/docs/src/flakon/flakon.egg-info/top_level.txt
/Homework1/.tox/docs/src/flakon/flakon.egg-info/
/Homework1/.tox/docs/src/flakon/flakon.egg-info/
/.tox/
/Lesson3/calculatorservice/flask_profiler.sql
/Lesson3/myservicee.egg-info/
/Lesson3/src/
/.coveralls.yml
